src/main/mule/searchaccountID.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="searchaccountIDFlow" doc:id="057b15d2-b550-492a-859a-8de74b3b24b6" >
		<logger level="INFO" doc:name="Logger" doc:id="ab7b0eea-d0f7-4fc3-b988-f3fc01701494" message="request recieved.............. #[attributes.queryParams]"/>
		<db:select doc:name="Select" doc:id="92a41426-bd38-417a-8cd0-1b287c9366b1" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from account where accountID=:accountID]]></db:sql>
			<db:input-parameters ><![CDATA[#[accountID:attributes.queryParams.accountID]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="eefafc8d-61f1-4e89-9d24-1919e15f9224" >
			<when expression="#[sizeOf(payload)&gt;0]">
				<ee:transform doc:name="Transform Message" doc:id="a46534ee-4eb5-4043-848e-be2df9538a06">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	name: payload01.name,
	phone: payload01.phone,
	email: payload01.email
}]]></ee:set-payload>
			</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpstatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
		</ee:transform>
			</when>
			<otherwise >
				<raise-error doc:name="" doc:id="f46d6770-3bbf-45fb-8e82-0bf65edaeef7" type="APP:INVALID_ACCOUNTID" description="Invalid Account ID"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="609fef2e-f554-43b8-85a6-faa745adcf51" message="account details........... #[payload]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="e630ec05-fac9-40e1-b3d9-8679f2ffb53a" type="APP:INVALID_ACCOUNTID">
				<ee:transform doc:name="Transform Message" doc:id="f1e0deef-d850-4f30-9f3b-407b7e55dd03" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Statuscode: 400,
	Message: error.description
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="f7ba9305-5f39-4385-b100-1a9c3055fb79" message="payload in on error propagate........... #[payload]"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
